package handlers

import (
	"github.com/ginjigo/ginji"
)

func HelloHandler(c *ginji.Context) {
	_ = c.JSON(ginji.StatusOK, ginji.H{"message": "Welcome to {{.Name}}!"})
}

func HealthCheck(c *ginji.Context) {
	_ = c.JSON(ginji.StatusOK, ginji.H{"status": "ok"})
}
